1. What did India export the most in any given year? 
2. Which commodity forms a major chunk of trade? Does it conform to theories of international trade? 
3. How has the trade between India and any given country grown over time?

In [1]:
## import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import os
from tqdm import tqdm

In [3]:
os.listdir('../input/india-trade-data/')

['2018-2010_export.csv', '2018-2010_import.csv']

In [4]:
root = '../input/india-trade-data/'

In [7]:
# reading the data
df_import = pd.read_csv(root+'2018-2010_import.csv')
df_export = pd.read_csv(root+'2018-2010_export.csv')

### Preprocess  Checks

In [8]:
df_import.head()

,HSCode,Commodity,value,country,year
0,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",0.00,AFGHANISTAN TIS,2018
1,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,12.38,AFGHANISTAN TIS,2018
2,8,EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR...,268.60,AFGHANISTAN TIS,2018
3,9,"COFFEE, TEA, MATE AND SPICES.",35.48,AFGHANISTAN TIS,2018
4,11,PRODUCTS OF THE MILLING INDUSTRY; MALT; STARCH...,NaN,AFGHANISTAN TIS,2018

In [11]:
df_export.head()

,HSCode,Commodity,value,country,year
0,2,MEAT AND EDIBLE MEAT OFFAL.,0.18,AFGHANISTAN TIS,2018
1,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.00,AFGHANISTAN TIS,2018
2,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,12.48,AFGHANISTAN TIS,2018
3,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,0.00,AFGHANISTAN TIS,2018
4,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,1.89,AFGHANISTAN TIS,2018

In [9]:
df_import.shape

(93095, 5)

In [10]:
df_export.shape

(137023, 5)

Each HSCode refers to only one unique Commodity and we observe no exceptions

In [44]:
def check_hscode_commodity_inconsistency(df):
    for i in tqdm(list(df.HSCode)):
        if df[df.HSCode==i].Commodity.nunique()!=1:
            return 'Inconsistent found'
    return 'No Inconsistencies'

In [45]:
check_hscode_commodity_inconsistency(df_import)

100%|███████████████████████████████████████████████████████████████████████████| 93095/93095 [03:00<00:00, 515.97it/s]

'No Inconsistencies'

In [46]:
check_hscode_commodity_inconsistency(df_import)

100%|███████████████████████████████████████████████████████████████████████████| 93095/93095 [02:49<00:00, 550.34it/s]

'No Inconsistencies'

In [18]:
# checking for null values: import data 
'No Null' if df_import[~df_import.isna()].shape == df_import.shape else 'Null Values are present'

'No Null'

In [20]:
# checking for null values: export data 
'No Null' if df_export[~df_export.isna()].shape == df_export.shape else 'Null Values are present'

'No Null'

### Exploring Import Data