### Importing necessary packages and Loading the dataset

In [6]:
import numpy as np
import pandas as pd

In [7]:
import plotly.graph_objs as go
import seaborn as sns
import squarify
import matplotlib.pyplot as plt

%matplotlib inline

In [9]:
import os
import warnings
warnings.filterwarnings('ignore')

In [21]:
files = []
for dirname, _, filenames in os.walk('../input/india-trade-data'):
    for filename in filenames:
        files.append(os.path.join(dirname, filename))
        print(os.path.join(dirname, filename))

../input/india-trade-data\2018-2010_export.csv
../input/india-trade-data\2018-2010_import.csv

In [23]:
data_export = pd.read_csv(files[0])
data_import = pd.read_csv(files[1])

### Understanding the Data

In [24]:
data_export.head()

,HSCode,Commodity,value,country,year
0,2,MEAT AND EDIBLE MEAT OFFAL.,0.18,AFGHANISTAN TIS,2018
1,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.00,AFGHANISTAN TIS,2018
2,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,12.48,AFGHANISTAN TIS,2018
3,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,0.00,AFGHANISTAN TIS,2018
4,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,1.89,AFGHANISTAN TIS,2018

In [25]:
data_import.head()

,HSCode,Commodity,value,country,year
0,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",0.00,AFGHANISTAN TIS,2018
1,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,12.38,AFGHANISTAN TIS,2018
2,8,EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR...,268.60,AFGHANISTAN TIS,2018
3,9,"COFFEE, TEA, MATE AND SPICES.",35.48,AFGHANISTAN TIS,2018
4,11,PRODUCTS OF THE MILLING INDUSTRY; MALT; STARCH...,NaN,AFGHANISTAN TIS,2018

In [26]:
data_import.HSCode.unique()

array([ 5,  7,  8,  9, 11, 12, 13, 20, 25, 27, 39, 41, 49, 51, 52, 57, 68,
       71, 72, 74, 81, 82, 84, 85, 90, 96, 97, 98, 99, 18, 26, 33, 40, 48,
       64, 70, 73, 76, 83, 87, 94, 28, 29, 30, 31, 38, 45, 47, 78, 86, 59,
       63, 34, 44, 69, 79, 54, 22, 32,  1,  3,  4,  6, 10, 15, 23, 24, 35,
       42, 55, 93, 95, 17,  2, 19, 21, 37, 46, 50, 53, 56, 58, 60, 61, 62,
       65, 66, 67, 75, 88, 89, 91, 92, 16, 43, 80, 14, 36], dtype=int64)

In [27]:
data_import.HSCode.nunique()

98

In [38]:
data_export.country.unique()

array(['AFGHANISTAN TIS', 'ALBANIA', 'ALGERIA', 'AMERI SAMOA', 'ANDORRA',
       'ANGOLA', 'ANGUILLA', 'ANTARTICA', 'ANTIGUA', 'ARGENTINA',
       'ARMENIA', 'ARUBA', 'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN',
       'BAHAMAS', 'BAHARAIN IS', 'BANGLADESH PR', 'BARBADOS', 'BELARUS',
       'BELGIUM', 'BELIZE', 'BENIN', 'BERMUDA', 'BHUTAN', 'BOLIVIA',
       'BOSNIA-HRZGOVIN', 'BOTSWANA', 'BR VIRGN IS', 'BRAZIL', 'BRUNEI',
       'BULGARIA', 'BURKINA FASO', 'BURUNDI', 'C AFRI REP', 'CAMBODIA',
       'CAMEROON', 'CANADA', 'CAPE VERDE IS', 'CAYMAN IS', 'CHAD',
       'CHILE', 'CHINA P RP', 'COLOMBIA', 'COMOROS', 'CONGO D. REP.',
       'CONGO P REP', 'COOK IS', 'COSTA RICA', "COTE D' IVOIRE",
       'CROATIA', 'CUBA', 'CURACAO', 'CYPRUS', 'CZECH REPUBLIC',
       'DENMARK', 'DJIBOUTI', 'DOMINIC REP', 'DOMINICA', 'ECUADOR',
       'EGYPT A RP', 'EL SALVADOR', 'EQUTL GUINEA', 'ERITREA', 'ESTONIA',
       'ETHIOPIA', 'FALKLAND IS', 'FAROE IS.', 'FIJI IS', 'FINLAND',
       'FR GUIANA', 'FR POLYNESIA', 'FRANCE', 'GABON', 'GAMBIA',
       'GEORGIA', 'GERMANY', 'GHANA', 'GIBRALTAR', 'GREECE', 'GREENLAND',
       'GRENADA', 'GUADELOUPE', 'GUAM', 'GUATEMALA', 'GUERNSEY', 'GUINEA',
       'GUINEA BISSAU', 'GUYANA', 'HAITI', 'HEARD MACDONALD', 'HONDURAS',
       'HONG KONG', 'HUNGARY', 'ICELAND', 'INDONESIA',
       'INSTALLATIONS IN INTERNATIONAL WATERS   ', 'IRAN', 'IRAQ',
       'IRELAND', 'ISRAEL', 'ITALY', 'JAMAICA', 'JAPAN',
       'JERSEY         ', 'JORDAN', 'KAZAKHSTAN', 'KENYA', 'KIRIBATI REP',
       'KOREA DP RP', 'KOREA RP', 'KUWAIT', 'KYRGHYZSTAN', 'LAO PD RP',
       'LATVIA', 'LEBANON', 'LESOTHO', 'LIBERIA', 'LIBYA',
       'LIECHTENSTEIN', 'LITHUANIA', 'LUXEMBOURG', 'MACAO', 'MACEDONIA',
       'MADAGASCAR', 'MALAWI', 'MALAYSIA', 'MALDIVES', 'MALI', 'MALTA',
       'MARSHALL ISLAND', 'MARTINIQUE', 'MAURITANIA', 'MAURITIUS',
       'MAYOTTE', 'MEXICO', 'MICRONESIA', 'MOLDOVA', 'MONACO', 'MONGOLIA',
       'MONTENEGRO', 'MONTSERRAT', 'MOROCCO', 'MOZAMBIQUE', 'MYANMAR',
       'N. MARIANA IS.', 'NAMIBIA', 'NAURU RP', 'NEPAL', 'NETHERLAND',
       'NETHERLANDANTIL', 'NEW CALEDONIA', 'NEW ZEALAND', 'NICARAGUA',
       'NIGER', 'NIGERIA', 'NORFOLK IS', 'NORWAY', 'OMAN', 'PAKISTAN IR',
       'PALAU', 'PANAMA C Z', 'PANAMA REPUBLIC', 'PAPUA N GNA',
       'PARAGUAY', 'PERU', 'PHILIPPINES', 'PITCAIRN IS.', 'POLAND',
       'PORTUGAL', 'PUERTO RICO', 'QATAR', 'REUNION', 'ROMANIA', 'RUSSIA',
       'RWANDA', 'SAHARWI A.DM RP', 'SAMOA', 'SAN MARINO', 'SAO TOME',
       'SAUDI ARAB', 'SENEGAL', 'SERBIA', 'SEYCHELLES', 'SIERRA LEONE',
       'SINGAPORE', 'SINT MAARTEN (DUTCH PART)', 'SLOVAK REP', 'SLOVENIA',
       'SOLOMON IS', 'SOMALIA', 'SOUTH AFRICA', 'SOUTH SUDAN ', 'SPAIN',
       'SRI LANKA DSR', 'ST HELENA', 'ST KITT N A', 'ST LUCIA',
       'ST PIERRE', 'ST VINCENT', 'STATE OF PALEST', 'SUDAN', 'SURINAME',
       'SWAZILAND', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAIWAN',
       'TAJIKISTAN', 'TANZANIA REP', 'THAILAND', 'TIMOR LESTE', 'TOGO',
       'TOKELAU IS', 'TONGA', 'TRINIDAD', 'TUNISIA', 'TURKEY',
       'TURKMENISTAN', 'TURKS C IS', 'TUVALU', 'U ARAB EMTS', 'U K',
       'U S A', 'UGANDA', 'UKRAINE', 'UNION OF SERBIA & MONTENEGRO',
       'UNSPECIFIED', 'URUGUAY',
       'US MINOR OUTLYING ISLANDS               ', 'UZBEKISTAN',
       'VANUATU REP', 'VATICAN CITY', 'VENEZUELA', 'VIETNAM SOC REP',
       'VIRGIN IS US', 'WALLIS F IS', 'YEMEN REPUBLC', 'ZAMBIA',
       'ZIMBABWE', 'COCOS IS', 'FR S ANT TR', 'NIUE IS', 'CANARY IS',
       'CHANNEL IS', 'CHRISTMAS IS.', 'PACIFIC IS', 'NEUTRAL ZONE'],
      dtype=object)

#### Columns

- HSCode
    - HS stands for Harmonized System. It was developed by the WCO (World Customs Organization) as a multipurpose international product nomenclature that describes the type of good that is shipped HS Code Structure.
    - 98 Unique Codes for Commodity identification.
- Commodity
    - Economic good/service that has full/substantial fungibility.
- Value
    - Import/export values in million US dollars
- Country
    - Country imported from/ exported to
- Year
    - Year in which comodities were imported/exported
    - Between 2010-2018

In [30]:
data_import.columns

Index(['HSCode', 'Commodity', 'value', 'country', 'year'], dtype='object')

#### Description of data

`data_import` has high outlier values as 75% data lies under `4.91`,
similary, `data_export` has high outlier values as 75% data lies under `3.77`.

In [28]:
data_import.describe()

             HSCode         value          year
count  93095.000000  79068.000000  93095.000000
mean      53.849573     63.289855   2014.654740
std       27.567486    666.652363      2.702373
min        1.000000      0.000000   2010.000000
25%       30.000000      0.030000   2012.000000
50%       54.000000      0.380000   2015.000000
75%       78.000000      4.910000   2017.000000
max       99.000000  32781.570000   2018.000000

In [29]:
data_export.describe()

              HSCode          value           year
count  137023.000000  122985.000000  137023.000000
mean       51.330302      21.567829    2014.056304
std        28.018026     229.701279       2.580160
min         1.000000       0.000000    2010.000000
25%        28.000000       0.030000    2012.000000
50%        52.000000       0.360000    2014.000000
75%        74.000000       3.770000    2016.000000
max        99.000000   19805.170000    2018.000000

### Null Values
Null values in `data_import.value` and `data_export.value`

In [34]:
data_import.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93095 entries, 0 to 93094
Data columns (total 5 columns):
HSCode       93095 non-null int64
Commodity    93095 non-null object
value        79068 non-null float64
country      93095 non-null object
year         93095 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.6+ MB

In [35]:
data_export.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137023 entries, 0 to 137022
Data columns (total 5 columns):
HSCode       137023 non-null int64
Commodity    137023 non-null object
value        122985 non-null float64
country      137023 non-null object
year         137023 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.2+ MB

In [37]:
data_import.isnull().sum()

HSCode           0
Commodity        0
value        14027
country          0
year             0
dtype: int64

In [46]:
data_export.isnull().sum()

HSCode           0
Commodity        0
value        14038
country          0
year             0
dtype: int64

In [48]:
## no of Unknown Countries: import
data_import[data_import.country=='UNSPECIFIED'].shape[0]

979

In [49]:
## no of Unknown Countries: export
data_import[data_export.country=='UNSPECIFIED'].shape[0]

452

In [52]:
## Duplicated Columns
print('exports: ', data_export.duplicated().sum())
print('imports: ', data_import.duplicated().sum())

exports:  0
imports:  18002

#### Data Cleaning

In [64]:
def clean_data(data):
    print('cleaning data..')
    data['country'] = data['country'].apply(lambda x: np.NaN if x=='UNSPECIFIED' else x)
    data = data[data.value!=0]
    data.dropna(inplace=True)
    data.year = pd.Categorical(data.year)
    data.drop_duplicates(inplace=True)
    return data

In [65]:
data_import = clean_data(data_import)
data_export = clean_data(data_export)

cleaning data..
cleaning data..